{% load static %}
<!doctype html>
<html>
  {% block heading %}
<head>
	<meta charset="utf-8">
  {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}" type="text/css">
  {% endblock css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static '/site.webmanifest' %}">

</head>
  {% endblock heading %}


<body>
	<div id="wrapper">
		<header>
  	<a href="/"><img src="{% static 'images/favicon-32x32.png' %}" alt="Logo"></a>
      
    <form name="search" action="{% url 'search_results' %}">
      <input type="text" name="q" placeholder="Search"><button type="submit">GO</button>
    </form>
    

      <nav>
    	<ul class="top-menu">
    		<li><a href="{% url 'home' %}">HOME</a></li>
    		<li><a href="{% url 'about_us' %}">ABOUT US</li>
    		<li><a href="{% url 'articles' %}">ARTICLES</a></li>
    		<li><a href="{% url 'articles' %}">NEWS</a></li>
    		<li><a href="{% url 'quotes' %}">QUOTES</a></li>
    		<li><a href="{% url 'contact' %}">CONTACT</a></li>
        <li><a href="{% url 'register' %}">REGISTER</a>  |  <a href="{% url 'login' %}"> LOGIN </a></li>
    	</ul>
    </nav>
  </header>

    {% block content %}

		<nav></nav>
		<div id="heading">
      <h1 class="head">ABOUT US</h1>
    </div>
		<aside>
      <nav>
    	<ul class="aside-menu">
    		<li class="active">LOREM IPSUM</li>
    		<li><a href="/donec/">DONEC TINCIDUNT LAOREET</a></li>
    		<li><a href="/vestibulum/">VESTIBULUM ELIT</a></li>
    		<li><a href="/etiam/">ETIAM PHARETRA</a></li>
    		<li><a href="/phasellus/">PHASELLUS PLACERAT</a></li>
    		<li><a href="/cras/">CRAS ET NISI VITAE ODIO</a></li>
    	</ul>
    </nav>

      <h2>OUR OFFICES</h2>
<p><img src="{% static 'images/sample.png' %}" width="230" height="180" alt="Our offices"></p>
    </aside>
		<section>
      <blockquote>
	<p>
		“QUISQUE IN ENIM VELIT, AT DIGNISSIM EST. NULLA UL CORPER, DOLOR AC PELLENTESQUE PLACERAT, JUSTO TELLUS GRAVIDA ERAT, VEL PORTTITOR LIBERO ERAT.”
	</p>
	<cite>John Doe, Lorem Ipsum</cite>
	</blockquote>

     <h1> Rules of work on the Literary portal Day Book</h1>

     <p>1. Any fan of poetry, regardless of his age, citizenship, place of residence, registered on the Portal in accordance with the established procedure, can become a user of the literary portal "You are a Poet" (hereinafter referred to as the Portal).</p>

   <p>The Portal user can make only one registration. The creation of clones is not allowed! Re-registration of the user is possible in exceptional cases, with the permission of the site Administration.</p>

    <p>The users who added it are responsible for the information posted on the site. The rights to all materials presented here belong to their authors.</p>


    <p>2. Rhymed and white poems, verlibra, images, phonograms and video materials are allowed to be posted on the Portal. As an exception, the publication of prosaic miniatures is allowed. The materials can be both new and previously published in printed or electronic publications, subject to strict compliance with all copyright requirements.</p>
  <p>It is not allowed to post materials in all sections of the Portal that do not relate to the types of literary works listed above in this paragraph of the Rules, and in comments (reviews) - materials that are not related to the commented work. Information of this kind should be transmitted through a personal message system or a forum.</p>
  <p>It is strictly forbidden:</p>
      <ul>
        <li>placing open links to other sites in public access without the permission of the Administration.</li>
        <li>using more than one cabinet by one user;
- advertising of goods or services;</li>
        <li>open harsh criticism of the Portal, the actions of the Administration or Moderator;</li>
        <li>a stormy discussion of political topics that goes beyond the civilized;</li>
      </ul>


<p>Lorem ipsum dolor sit amet…</p>
<p>Donec vel nisl nibh…</p>
<p>Donec vel nisl nibh…</p>
      
    </section>
    {% endblock content%}
	</div>
  

  {% include "footer.html" %}
</body>

</html>