{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>SOFT SKILLS</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

  </head>

  <body>
    <div class="navbar">
     <a href="{% url "index" %}">Домашняя страница</a>
      <a href="{% url "main_info" %}">Общая информация</a>
      <a href="{% url "articles" %}">Статьи</a>
      <a href="#">Контакты</a>
      <a href="{% url "log_in" %}">Вход/Регистрация</a>
      <a href="gif_search.html">Медиа</a>
    </div>

    <header class="header">
      <h1>SOFT SKILLS</h1>
    </header>

    <style type="text/css">
        body {
            font-size: 20pt;
        }
        /* tells the browser how the bar will look */
          
        ::-webkit-scrollbar {
            width: 15px;
            border: 2px solid blue;
        }
        /*tells the browser how the arrows will appear*/
          
        ::-webkit-scrollbar-button:single-button {
            background-color: red;
            height: 16px;
            width: 16px;
        }
        /* tells the browser how the scrollable 
          handle would look like */
          
        ::-webkit-scrollbar-thumb {
            background: black;
        }

        ::-webkit-scrollbar-track {
            background: green;
        }
          
        ::-webkit-resizer {
            background: pink;
        }
    </style>

    <main>

      <article>

      <h1><strong> Soft skills - кратко </strong></h1>
      <class 
      <ul>
        <li><a href="#paragraf-1">Soft Skills и Hard Skills: в чем разница?</a></li>
        <li><a href="#paragraf-2">Что такое Soft Skills простыми словами?</a></li>
        <li><a href="#paragraf-3">Что относится к мягким навыкам? Полный список</a></li>
      </ul>

      
      

      <div class="clear"></div>
      <div class="content">
      <h3 id="paragraf-1">
        Soft Skills и Hard Skills: в чем разница?
      </h3>
        <div class="ratio_image ratio_image_1x1">
        <img src="/media/softs.jpg" alt="" width=60% class="img">
        </div>
        <p>
        В советские времена в цене были узкие специалисты. Тогда информация добывалась с трудом, технологии не менялись десятилетиями. Как правило, человек работал на одном месте всю жизнь.
        </p><p>
        Изменения в конце XX века сломали традиционное представление о профессионализме. Сейчас «узкие» знания можно получить в интернете за несколько секунд. Технологии постоянно обновляются. Формы занятости тоже меняются. Поэтому <em>«узкий профессионализм»</em> перестает быть преимуществом, а иногда начинает мешать успеху человека на рынке труда.
        </p><p>
        Появились два термина:
        Hard Skills – это «жесткие», то есть конкретные, глубоко технологические знания, умения и навыки, востребованные только в данной сфере, а иногда – и только на этом предприятии.
        </p><p>
        Soft Skills – это «мягкие» или «гибкие» компетенции, применимые во множестве профессиональных областей. Далее мы разберем, что это такое – Soft Skills – простыми словами, приведем примеры мягких навыков.
        </p><p>
        В последние годы работодатели стали все больше внимания уделять именно Soft-Skills. Это легко объяснимо. Развить узкопрофессиональные умения сейчас быстрее и дешевле, чем сформировать широкие, гибкие компетенции. А ведь именно последние определяют эффективность современного специалиста. Поэтому важно знать, что это такое – <em>мягкие навыки</em> – (англ. Soft Skills), и как развивать их.
        </p><p>
        Особенно необходимы эти компетенции фрилансерам, так как им приходится самим продвигать свои услуги на рынке.
        </p>
        <h3 id="paragraf-2">
        Что такое Soft Skills простыми словами?
        </h3><p>
        Давайте разберемся, что это такое – Soft Skills. Можно сказать, что мягкие навыки помогают эффективно и самостоятельно действовать в разных рабочих ситуациях. В отличие от Hard Skills гибкие компетенции мало зависят от сферы их приобретения и применения. Давайте разберем, что это такое – Cофт Скиллс, и на примерах рассмотрим, что к ним относится.
        <h3 id="paragraf-3">
        Что относится к мягким навыкам? Полный список
        </h3>
        <p>Объяснить, что это такое – Soft Skills – простыми словами, проще на примерах мягких навыков. Их перечень достаточно обширен и периодически обновляется. Но можно выделить несколько групп и ключевые умения в каждой из них. Итак, посмотрим, что относится к Soft Skills и какие они бывают.</p>
        <p>
         
        <ol>
          <span><h3>Коммуникативные:</h3></span>
          <li>Устанавливать контакт и организовывать диалог с разными людьми.</li>
          <li>Оказывать влияние и вести эффективные переговоры.</li>
          <li>Понятно, убедительно говорить, писать, владеть различными форматами делового общения.</li>
          <li>Презентовать (себя, компанию, продукт и т.д.).</li>
          <li>Уметь слушать и слышать.</li>

          <span><h3>Список социальных навыков Soft Skills:</h3></span>

          <ul>Гибко переключаться между ролями.</ul>
          <ul>Устанавливать связи и позиционировать себя в сообществе.</ul>
          <ul>Работать самостоятельно и в команде.</ul>
        </ol>
        </p>
        

        <iframe class="img"
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/KBsnK5y6zMM" title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

    </div>
    
    <script src="script.js"></script>
 
      </article>

    </main>


    <footer>
      <p>©Авторские права никому не принадлежат, 2050. Все права защищены.</p>
    </footer>

  </body>
</html>
